@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Alpina";
  src: url("../assets/fonts/GT-Alpina-Standard-Bold.woff2");
}

@font-face {
  font-family: "Flexa";
  src: url("../assets/fonts/GT-Flexa-GX.woff2");
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}

html{
  @apply bg-monstera-400 font-flexa;
  
}

body{
  @apply bg-monstera-400 font-flexa;
}

h1{
  @apply font-alpina text-2xl text-white;
}

input[type="file"] {
  display: none;
}

input {
  -webkit-appearance: none;
  outline: none;
}