@tailwind base;
@tailwind components;
@tailwind utilities;

/* latin */
@font-face {
  font-family: 'Alpina';
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 500%;
  font-display: swap;
  src: url('../assets/fonts/GT-Alpina-GX.woff2') format("woff2 supports variations"),
        url('../assets/fonts/GT-Alpina-GX.woff2') format("woff2-variations");
}
/* latin */
@font-face {
  font-family: 'Flexa';
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 75% 125%;
  font-display: swap;
  src: url('../assets/fonts/GT-Flexa-GX.woff2') format("woff2 supports variations"),
      url('../assets/fonts/GT-Flexa-GX.woff2') format("woff2-variations");
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}

html{
  @apply font-flexa;
  
}

body{
  @apply font-flexa;
}

h1{
  @apply font-alpina text-2xl text-white;
}

input[type="file"] {
  display: none;
}

input {
  -webkit-appearance: none;
  outline: none;
}

.bottom-safe{
  bottom: calc(4rem + env(safe-area-inset-bottom));
}

@media screen and (max-height: 635px) {
  .bottom-safe{
    bottom: calc(1.3rem + env(safe-area-inset-bottom));
  }
}